*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    

  }

.app { height: 100vh;
overflow-x: hidden;
// 代表当超出了x轴时，会隐藏而不是有一个scroll bar
scroll-snap-type: y mandatory;
scroll-behavior: smooth;
}




.sections {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
// 也可以用 position：relative; top: 70px 达到相似的效果
    background-color: thistle;  
    
    .portfolio { height: fit-content;
        }
}

    .sections > * { height: calc(100vh - 70px);
    width: 100vw;

   
 
}
// scroll-snap-align: start;

